.DS_Store
*.pyc
*.o
*.map
*.dbg
*.lab
*.swp
attic
files/backpacked
files/compressed
files/easyflash
files/extracted
files/iffl
files/original/*.d64
files/patched
files/zero
mon
releases
src/charcreate/cardcolors.prg
src/charcreate/charcreate.prg
src/crackintro/intro.prg
src/crackintro/introef.prg
src/crackintro/intro1541.prg
src/crackintro/swingdata.s
src/easyflash/cartmenu*.prg
src/easyflash/easyflash.bin
src/easyflash/efs.bin
src/easyflash/efssg.bin
src/easyflash/menu.bin
src/easyflash/padded.bin
src/editor/editor*.prg
src/efloader.prg
src/gamemain/gamemain*.prg
src/ifflinit1541/flipdisk.prg
src/intro/font.i
src/intro/intro.prg
src/intro/intro1541.prg
src/intro/scrolltext.i
src/loader.prg
src/loader1541.prg
src/patchedgame/*.prg
src/search/search_*.prg
src/talk/lord_british_help.prg
src/talk/lord_british_talk.prg
src/talk/talk.prg
src/tiles/font.bin
src/tiles/tileset.bin
src/u4loader/filemap.s
src/use/use_*.prg
test*.sh
tools/backpack
u4gold.d?1
u4gold-?.d64
u4gold.crt
TODO.markdown
